<%= render "shared/header" %>
  <div class='item-contents'>
    <ul class='item-lists'>
      <% if @items.present? %>
        <% @items.each do |item|%>
          <li class='list'>
            <%= link_to item_path(item.id) do %>
              <div class='item-img-content'>
                <%= image_tag item.image, class: "item-img" %>
                <% if item.order %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= item.name %>
                </h3>
                <div class='item-price'>
                  <span><%= item.price %>円<br>
                  <% shipping_fee_status = @shipping_fee_statuses.find { |status| status.id == item.shipping_fee_status_id } %>
                  <span><%= shipping_fee_status.name %></span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <p class='search-error'>
          <%= params[:q][:name] %>の検索に一致する商品はありません。
        </p>
      <% end %>
    </ul>
  </div>
<%= render "shared/footer" %>